body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.container {
  display: flex;
}

/* Sidebar */
.sidebar {
  width: 220px;
  height: 100vh;
  background: #1e293b;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  margin: 10px 0;
  background: #334155;
  border-radius: 8px;
  cursor: pointer;
}

/* Main */
.main {
  flex: 1;
  padding: 20px;
}

header {
  margin-bottom: 20px;
}

/* Cards */
.cards {
  display: flex;
  gap: 20px;
}

.card {
  flex: 1;
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

/* Gallery */
.gallery img {
  margin: 10px;
  border-radius: 10px;
}
